<nav class="nav-main" role="navigation">
	<ol>
		<li><a href="/melkweg">
			<h2>Melkweg</h2>
			<p>A pop venue with a twist.</p>
		</a></li>
		<li><a href="/immrs">
			<h2>Immrs</h2>
			<p>Curated news that gives you an overview on what’s happening in the world.</p>
		</a></li>
		<li><a href="/entree">
			<h2>Entrée</h2>
			<p>Making classical music accessible to young people</p>
		</a></li>
		<li><a href="/working-setup">
			<h2>Working setup</h2>
			<p>Tools of the trade</p>
		</a></li>
	</ol>
</nav>
